services:
  postgres:
    image: 'postgres:latest'
    container_name: web_app-postgres-1
    build:
     context: .
     dockerfile: ./postgres/Dockerfile.postgres
    environment:
      POSTGRES_DB: 'sample'
      POSTGRES_USER: 'postgres'
      POSTGRES_PASSWORD: 'postgres_password'
    volumes:
      - web_app_postgres-data:/var/lib/postgresql/data
      - ./postgres-init:/docker-entrypoint-initdb.d
    ports:
      - "9999:5432"
    networks:
      - my-network
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

  frontend:
    environment:
      - NODE_ENV=${NODE_ENV:-production}
    stdin_open: true
    container_name: web_app-frontend-1
    build:
      context: ./frontend
      dockerfile: Dockerfile.dev
    volumes:
      - ./frontend:/home/node/app
      - /home/node/app/node_modules      
    ports:
      - "3000:3000"
    networks:
      - my-network
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"
    env_file:
      - .env 

  gateway:
    container_name: web_app-gateway-1
    build:
      context: .
      dockerfile: Dockerfile.nginx
    ports:
      - "80:80"
      - "443:443"
    networks:
      - my-network
    logging:
      driver: json-file
      options:
        max-size: "10m"
        max-file: "3"

volumes:
  web_app_postgres-data:
    driver: local

networks:
  my-network:
    driver: bridge